
<header>
  <!--Logo-->
  <div class="logo hide-md">
    <a href="javascript:void(0)" >
      <img src="{{ENV.APP_URL}}/image/logo.png" alt="">
    </a>
  </div>
  <div class="wrapper">
  <!--Options-->
    <div class="options">
    <a href="javascript:void(0)" class="eachOptions toggle_button">
      <img src="{{ENV.APP_URL}}/image/grid.png" alt="">
    </a>
    <a href="javascript:void(0)" class="eachOptions blue">
      <img src="{{ENV.APP_URL}}/image/cal.png" alt="">
    </a>
    <a href="javascript:void(0)" class="eachOptions red">
      <img src="{{ENV.APP_URL}}/image/group.png" alt="">
    </a>
    <a href="javascript:void(0)" class="eachOptions green">
      <img src="{{ENV.APP_URL}}/image/sound.png" alt="">
    </a>
    <a href="javascript:void(0)" class="eachOptions purple">
      <img src="{{ENV.APP_URL}}/image/notebook.png" alt="">
    </a>
    <a href="javascript:void(0)" class="eachOptions orange">
      <img src="{{ENV.APP_URL}}/image/tv.png" alt="">
    </a>
  </div>
  <!--Date-->
    <div class="date text-light hide-md">
      <span class="text-time">11:30am</span>, Wednesday, 20 October 2021
    </div>
  <!--user-->
    <div class="user-options">
      <!--language-->
      <a href="javascript:void(0)" class="lang  hide-md">
        English <i class="las la-angle-down"></i>
        <ul class="lang-option">
          <li><a href="javascript:void(0)">English</a></li>
          <li><a href="javascript:void(0)">Bangla</a></li>
          <li><a href="javascript:void(0)">Arabic</a></li>
        </ul>
      </a>
      <!--notification-->
      <a href="javascript:void(0)" class="notification hide-md"><i class="las la-bell"></i><span class="count">1</span></a>
      <!--user-->
      <a href="javascript:void(0)" class="user">John Doe <i class="las la-angle-down"></i>
        <ul class="profile-option">
          <li><a href="javascript:void(0)">Profile</a></li>
          <li><a href="javascript:void(0)">Settings</a></li>
          <li><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </a>
    </div>
  </div>
</header>
