<div class="page-title">Cases</div>
<div class="container-fluid cases-wrapper">
  <div class="page-white-section-wrapper  mt-3">
    <div class="section-header">
      <div class="row align-items-center">
        <div class="col-4">
          <div class="title"><i class="las la-wrench"></i> &nbsp; Cases</div>
        </div>
        <div class="col-8 text-end">
          <a href="javascript:void(0)" class="btn-msg"><i class="lab la-facebook-messenger"></i> 0 New Message</a>
          <a href="javascript:void(0)" class="btn-basic"><i class="las la-print"></i></a>
          <a href="javascript:void(0)"  class="btn-basic"><i class="las la-cog"></i></a>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-lg-8">
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Case Information  <i class="lar la-star"></i></div>
              <div class="options float-end">
                <a href="javascript:void(0)" class="green"><i class="las la-envelope"></i></a>
                <a href="javascript:void(0)" class="red"><i class="las la-file-pdf"></i></a>
                <a href="javascript:void(0)" class="theme"><i class="lab la-wordpress-simple"></i></a>
                <a href="javascript:void(0)" class="red"><i class="las la-pen"></i></a>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-lg-9 order-1">
                  <ul>
                    <li><span>Case Number</span><span>2509</span></li>
                    <li><span>Case Type</span><span>Repair & Maintenance</span></li>
                    <li><span>Added</span><span>20/10/2021</span></li>
                    <li><span>Due Date</span><span>20/10/2021</span></li>
                    <li><span>Priority</span><span>Low</span></li>
                  </ul>
                </div>
                <div class="col-lg-3 order-2 mb-5">
                  <label for="status" class="text-theme2 mb-2 ">Status</label>
                  <select id="status" class="form-select form-select-sm" >
                    <option value="1">Pending</option>
                    <option value="2">Confirm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Asset Information </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-lg-9">
                  <ul>
                    <li><span>Job Area</span><span>Private Lot</span></li>
                    <li><span>Apartment</span><span>1.505 KF</span></li>
                    <li><span>Assigned To</span><span>Autodoc1</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Job Information </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-lg-9">
                  <ul>
                    <li><span>Subject</span><span> Maintenance Request 505 KF</span></li>
                    <li><span>Description</span><span>STG EMAILS TEST KF</span></li>
                    <li><span>Notes</span><span>
                      Date request: 20/10/2021 <br>
                      Apartment: 505 KF <br>
                      Requested by Mela in Staging Arch <br>
                      Request Type: Common <br>
                      Email: Mela.mybos@gmail.com <br>
                      Mobile: 0424189547 <br>
                      original Description STG EMAILS TEST KF
                    </span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Quotes </div>
            </div>
            <div class="box-body">
            </div>
          </div>
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Invoices </div>
            </div>
            <div class="box-body">
            </div>
          </div>
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block">Emails Sent</div>
              <div class="float-end">
                <a href="javascript:void(0)"><i class="las la-angle-down"></i></a>
              </div>
            </div>
            <div class="box-body">
            </div>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="each-box">
            <div class="box-header clearfix">
              <div class="title d-inline-block position-static">Attachment</div>
              <div class=" attachment float-end position-relative">
                <button class="btn-chain"><i class="las la-link"></i></button>
                <ul class="attachment_options">
                    <li><a href="javascript:void(0)">Add New Photo</a></li>
                    <li><a href="javascript:void(0)">Add New Document</a></li>
                    <li><a href="javascript:void(0)">Add/Edit New Quote</a></li>
                    <li><a href="javascript:void(0)">Add/Edit New Invoice</a></li>
                    <li><a href="javascript:void(0)">Add New Inventory</a></li>
                </ul>
              </div>
            </div>
            <div class="box-body">
              <div class="each-item text-theme2">Photo</div>
              <div class="each-item text-theme2">Documents</div>
              <div class="each-item text-theme2">Inventory</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-white-section-wrapper  mb-3">
    <div class="section-header">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title">Logs</div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="box">
        <span class="text-theme2">Update case by Sam Khlaef</span> 20/10/2021 10:05AM <br>
        <span class="text-theme2">Convert from Maintenance event by Sam Khlaef</span> 20/10/2021 7:04AM
      </div>
    </div>
  </div>
</div>
